.review-item{
    background-color: rgb(220, 213, 213);
    list-style-type: none;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 150px;
    width: 420px;
    border-radius: 5px;
}
.review-name{
    margin: 0%;
    padding-left: 20px;
    padding-top: 10px;
}
.review{
    padding-left: 20px;
    color: rgb(58, 57, 57);
}